@import url("https://cdn.syncfusion.com/ej2/material.css");
.transaction-body{
    width:100%;
    display: flex;
    gap: 20px;
    height:82vh;
}

.tableHover{
  font-size:14px;
  position: relative;
}
.tableHover .action{
    position: absolute;
    top: 35px;
    right: 50px;
    background: rgb(232, 232, 232);
    height: 50px;
    width: 100px;
    gap: 20px;
    border-radius:4px ;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 9;

}
.tableHover td{
    padding:5px 10px ;

    
 }
.rates{
    flex: 2;
    display:flex;
    flex-direction:column;
    gap:20px;
    /* border: 2px solid blue; */
    /* overflow: hidden; */
   

}

.reg-modal{
    position: absolute;
    background: rgb(50, 243, 76);
    min-width: 250px ;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    right: 10%;
    top: 30px;
}
.reg-modal-err{
    position: absolute;
    background: rgb(253, 33, 33);
    min-width: 250px ;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    right: 10%;
    top: 30px;
}
.coin-img{
    width:50px;
}
.test-div{
    
    max-height: 70%;
    overflow-y: scroll;
}
.rate-info{
    padding: 20px;
    height:600px;
    border-radius:10px;
    overflow: hidden;
    /* background:#b4fcfca9; */
}

.table-data{
    width:100%;
    padding: 0;
    /* max-height:300px; */
    /* overflow-y:scroll; */
   }
.task-box{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
}
#assigneeId{
    width: 100%;
    margin: 10px auto;
}

   .open {
    background-color: rgb(144, 144, 248);
    color: white;
  }
  
  .in-progress {
    background-color: rgb(255, 253, 135);
    color: rgb(0, 0, 0);
  }
  
  .done {
    background-color: rgb(109, 255, 172);
    color: rgb(0, 103, 5);
  }
  
  .tested {
    background-color: rgb(199, 247, 255);
    color: rgb(155, 155, 155);
  }
  
  select{
    padding: 5px 7px;
  }

select::-moz-focus-inner,select::-moz-focus-outer{
    outline: none;
    border: none;
}

.next-prev :disabled{
 background: #BDBDBD;
}


.wallet-details{
    border-radius: 20px;
    width: 100%;
    /* min-height: 80vh; */
    background: white;
    padding: 50px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.data{
    display: flex;
    color:#f5f5f5;
}
.data-label{
    display:flex;
    align-items:center;
    gap:5px;
    font-size: 20px;
    font-weight: 500;
    min-width: 220px;
    color: black;
}
.data-info{
    font-size: 20px;
    font-weight: 500;
    min-width: 220px;
    color: #5F5F5F;
}


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.rate-table{
    height: 600px;
    overflow: hidden;
}

.rate-parent{
    display: flex;
    width: 100%;
    gap: 20px;
    height:30%;
    min-height: 150px;
}
.buy{
    border-radius:10px;
     background:#b4fcfca9;
    flex: 1;
    padding: 20px;
    height: fit-content;
    
}
.buy h3{
    margin-bottom: 30px;
}
.rate{
    border-radius:10px;
     background:#b4fcfca9;
    flex: 1;
    font-weight: 700;
    font-size: 40px;
    color: rgb(1, 52, 65);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.get-back{
    text-align: center;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}
.rate-title{
    font-size: 18px;
}
.but-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-between; */
}
.buy-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.but-input input{
    height: 40px;
    width: 100%;
    padding-right: 20px;
    text-align: right;
    border-radius: 5px;
    border: none;
}
.but-input input:focus{
    border: none;
    outline: 0.4px solid black;
}
.walletAdd input:focus{
    border: none;
    outline: none;
}
.walletAdd{
    border: 0.4px solid black;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sign-log{
    display: flex;
    height: 100vh;
}


.send-message{
    width:76%;
    background: rgb(142, 195, 184);
    position: fixed;
    bottom: 0px;
    display:flex ;
    justify-content: center;
    align-items: center;
    padding: 20px 10px ;
   
}
.banner{
    padding-top: 30px;
    position: relative;
    border-radius: 8px;
    background:  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(22, 198, 116, 0.73)),
    url('../images/codeville.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile-img{
    position: absolute;
    width: 30vw;
    height: 30vw;
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
    left: 20px;
    bottom: -40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
       overflow: hidden;
}
.profile-img img{
 width: 100%;
 height: 100%;
}
.banner h1{
    font-size: 60px;
    text-align: right;
    margin-right: 20px;
    /* font-weight: bold; */
    color: #e2fffa;
    /* text-transform: uppercase; */
    /* background: #333; Background color for contrast */
    /* padding: 20px; */
    text-shadow: 2px 2px 0 #04432b, 4px 4px 0 #0b643d; /* Create a text shadow to simulate depth */
    /* transform: skew(-10deg); Skew the text for perspective */
    /* perspective: 300px; Add a 3D perspective effect */
}
.banner p{
    font-size: 30px;
    text-align: right;
    margin-right: 20px;
    /* font-weight: bold; */
    color: #02321c;
    /* text-transform: uppercase; */
    /* background: #333; Background color for contrast */
    /* padding: 20px; */
    /* text-shadow: 2px 2px 0 #04432b, 4px 4px 0 #0b643d; Create a text shadow to simulate depth */
    /* transform: skew(-10deg); Skew the text for perspective */
    /* perspective: 300px; Add a 3D perspective effect */
}
@media only screen and (max-width:884px) {
  
    .send-message{
        width:100%;
        /* background: red; */
        position: fixed;
        bottom: 0px;
        left: 0;
        
        padding: 20px 0px ;
    }
   
}
.detail{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.about p{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about .react-calendar {
    width: 100%; 
    border: none;
  }
  .react-calendar__tile {
    width: 40px !important;
    height: 40px !important;
  }
  .react-calendar__tile--active {
    border-radius: 20px;
  background: rgb(2, 162, 114) !important;
  }
  
.about{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    flex: 1;
    height: fit-content;
    border-radius: 10px;
    min-height: 200px;
    min-width: 300px;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.right{
    flex: 2;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(../images/codeville-black.png);
   
}
.left{
    flex: 3;
    /* border: 2px solid red; */
    height: 100vh;
    background-image: url(../images/codeville.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.left-child{
    height: 100%;
    width: 100%;
    
}
.p{
    color: black;
    margin-top: 60px;
}
.p-signup{
    color: black;
    margin-top: 20px;
}
.p span, .p-signup span{
    color: rgb(13, 0, 255);
    cursor: pointer;
}
.task-row{
    flex: 1;
    /* min-width: 260px; */
    /* style={{flex:1, minWidth:"250px"}}
    style={{flex:1, minWidth:"250px"}}
    style={{flex:1, minWidth:"250px"}} */
    /* style={{flex:1, minWidth:"250px"}} */
}
@media only screen and (max-width:1023px) {
   
    .left-child{
        position: absolute;
        top: 0;
        /* /* height: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* background: rgba(255, 0, 0, 0.316); */
        
    }
   
    
}

@media only screen and (max-width:884px) {
    .transaction-body{
        flex-direction: column;
    }
    .task-row{
        /* flex: 1; */
        /* border: 2px solid red; */
        min-width: 260px;
    }
   
   
    
}
@media only screen and (max-width:400px) {
    .rate-parent{
        flex-wrap: wrap;
        
    }
   
    .rate{
        flex: 1;
        min-width: 30%;
    }
    .rate-sec{
        flex-direction: row;
    }
}




@media only screen and (max-width:600px) {
    .banner h1{
        font-size: 40px;
    }
 
    .task-row{
    scroll-snap-align: start ;
        min-width: calc(100vw - 41px); 
    }
    .table-container{
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
}


